body {
    font-size: 14pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 'Light';
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
  }
  
  
  h1 {
    font-size: 52pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 'Semibold';
    line-height: 20pt;
  }
  
  
  h2 {
    font-size: 28pt;
    font-family: Work Sans, sans-serif;
    font-weight: 'Semibold';
    line-height: 20pt;
  }
  
  
  h3 {
    font-size: 20pt;
    font-family: Work Sans, sans-serif;
    font-weight: 'Semibold';
    line-height: 20pt;
  }


  p {
    font-size: 14pt;
    line-height: 20pt;
  }


  .fa-solid {
    color: white;
  }
  

  li {
    line-height: 18pt;
  }


  a:link {
    color: turquoise;
    font-weight: bold;
  }
  

  a:visited {
    color: turquoise;
  }
  

  a:hover {
    color: rgb(104, 246, 232);
    font-weight: bold;
  }


  section{
    padding: 20px 0px;
    margin: 0;
    max-width: none;
  }


  .content {
    margin: 50px 450px 100px 100px;
  }


  div.lets-connect {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 40px;
    border: none;
    background-color: rgb(43, 42, 42);
  }


  img {
    border-radius: 10%;
  }


  input[type=text], select {
    font-family: 'Work Sans', sans-serif;
    font-weight: 'Semibold';
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    box-sizing: border-box;
  }


  input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    border: solid;
    border-color: turquoise;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(17, 45, 47);
    color: turquoise;
    padding: 16px 32px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 'Semibold';
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }